.productThumb {
  position: relative;
  margin-bottom: 14px;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.productThumb a {
  display: block;
  width: 100%;
  height: 100%;
}

.productThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
